[submodule "otis-arduino"]
	path = otis-arduino
	url = git@github.com:GaloisInc/otis-arduino.git
[submodule "japery"]
	path = japery
	url = https://github.com/pgmerek/japery.git
[submodule "ECE-HACoSR2"]
	path = ECE-HACoSR2
	url = https://github.com/Artem1199/ECE-HACoSR2
[submodule "otis-AK/otis-tcp"]
	path = otis-AK/otis-tcp
	url = https://github.com/Artem1199/otis-tcp
[submodule "otis-AK/otis-server"]
	path = otis-AK/otis-server
	url = https://github.com/Artem1199/otis-server
[submodule "kind2/kind2"]
	path = kind2/kind2
	url = https://github.com/Artem1199/kind2
[submodule "AK-Submodules/otis-arduino"]
	path = AK-Submodules/otis-arduino
	url = https://github.com/Artem1199/otis-arduino
[submodule "AK-Submodules/otis-tcp"]
	path = AK-Submodules/otis-tcp
	url = https://github.com/Artem1199/otis-tcp
[submodule "AK-Submodules/otis-server"]
	path = AK-Submodules/otis-server
	url = https://github.com/Artem1199/otis-server
